{% extends "base.html" %}

{% block content %}
<h1>Fake news checking</h1>
<h2>Enter article text</h2>
<div class="cont">
    <form class="params" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>

        {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>{{ form.submit(type="submit", class="btn btn-outline-success") }}</p>
        <div>{{ message }}</div>
    </form>
</div>
{% endblock %}